@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


body {
    background-color: rgb(205, 209, 250);
    height: 100vh;
    margin: 0;
}

.web {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    font-family: "Anta", sans-serif;
    color: rgb(152, 161, 245);
}

.wez {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    color: rgb(152, 161, 245);
}

.list {
    height: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0;
    font-size: 16px;
    color: rgb(73, 59, 150);
    font-family: "Anta", sans-serif;

}

header {
    background-color: rgb(68, 60, 115);
    color: white;
    font-size: 130%;
    position: relative;
    height: 180px;
}
