@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(205, 209, 250);
    height: 100vh;
    margin: 0;
}

.hero {
    background-image: url(images/rainbow_jellyfish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.list {
    
}

.web {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    font-family: "Anta", sans-serif;
    color: rgb(152, 161, 245);
}

.wez {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    color: rgb(152, 161, 245);
}

.list {
    height: 15px;
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0;
    font-size: 16px;
    color: rgb(73, 59, 150);
    font-family: "Anta", sans-serif;

}

header {
    background-color: rgb(68, 60, 115);
    color: white;
    font-size: 130%;
    position: relative;
    height: 180px;
}


.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav li {
    font-size: 20px;
    font-family: "Anta", sans-serif;
}

.nav h1 {
    font-family: "Anta", sans-serif;
}
